body {
	background-image: url('https://images.unsplash.com/photo-1441915004818-433bb3246e45?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
}
.input-form {
	display: flex;
	justify-content: center;
}

.display-data {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
